<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="TP1_PW3Entities" connectionString="metadata=res://*/PW3.csdl|res://*/PW3.ssdl|res://*/PW3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ARG-OZUNA\SQLEXPRESS;initial catalog=TP1_PW3;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--
    <add name="TP1_PW3Entities" connectionString="metadata=res://*/PW3.csdl|res://*/PW3.ssdl|res://*/PW3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESDI\SQLEXPRESS;initial catalog=TP1_PW3;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PW3_20152C_TP2_TorneosEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ARG-OZUNA\SQLEXPRESS;initial catalog=PW3_20152C_TP2_Torneos;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TorneosEntities" connectionString="metadata=res://*/Persistencia.PW3_20152C_TP2_Torneos.csdl|res://*/Persistencia.PW3_20152C_TP2_Torneos.ssdl|res://*/Persistencia.PW3_20152C_TP2_Torneos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ARG-OZUNA\SQLEXPRESS;initial catalog=PW3_20152C_TP2_Torneos;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
  <add name="TorneosEntities" connectionString="metadata=res://*/Torneos.csdl|res://*/Torneos.ssdl|res://*/Torneos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ARG-OZUNA\SQLEXPRESS;initial catalog=PW3_20152C_TP2_Torneos;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>