html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
      /*background-image: url("../Imagenes/pasto.png");
    background-repeat:no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;*/
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  margin-bottom: 60px;
  height:100%;/*400px;*/
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  position: fixed;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container 
{
    width: 600px;
    margin: -10px auto;
    padding-right: 15px;
    padding-left: 15px;
}

code {
  font-size: 80%;
}
img.jugador
{
    height:400px;
    padding-left:200px;
}

div.pasto
{
    background-image:url("/Imagenes/pasto.png");
    background-repeat:no-repeat;
    /*-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;*/
}

div.master
{
    background-image:url("/Imagenes/fondo1.jpg");
    background-repeat:no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

div.formulario
{
  border-style  : groove;
  border-radius: 10px;
  padding-top: 40px;
  margin-top: 100px;
  margin-left: 100px;
}


/*div.formContainer
{
    height:400px;
    background-image: url("../Imagenes/pasto.png");
}*/

.centroBoton
{
    margin: 0 auto 0 auto;
    width: 700px;
}

.btnInicio
{
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-left: none;
    border-right: none;
    border-radius: 15px;
    background-color: rgba(220,220,220,.65);
    /*opacity: .65;*/
    color: Green;
    width: 250px;
    height: 150px;
    margin: 40px;
    font: 20px Verdana, serif;
    /*font-family:Verdana;
    font-size:x-large;*/
}
.btnInicio:hover
{
    font: 22px Verdana, serif;
    opacity: .8;
}
.logoCentro
{
    width: 580px;
    position: absolute;
    left: 50%;
    margin-left: -390px;
    
}