html {
  position: relative;
  min-height: 50%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
      background-image: url("../Imagenes/pasto.png");
    background-repeat:no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container 
{
    width: 600px;
    margin: -10px auto;
    padding-right: 15px;
    padding-left: 15px;
}

code {
  font-size: 80%;
}
img.jugador
{
    height:400px;
    padding-left:200px;
}

.pasto
{
    background-image:url("/Imagenes/pasto.png");
    height:400px;
}

formulario
{
  border-style  : groove;
  border-radius: 10px;
  padding-top: 40px;
}


div.jugadoresContainer
{
    height:400px;
}

.centroBoton
{
    position: absolute;
    top:50%;
    left:50%;
    width:800px;
    height:400px;
    margin-top:-200px;
    margin-left:-400px;
}

.btnInicio{
    margin: 50px;
    width: 250px;
    height: 150px;
    background-color:transparent;
    font-family:Verdana;
    font-size:x-large;
}
.logoCentro
{
    width: 580px;
    position: absolute;
    left: 50%;
    margin-left: -390px;
    
}