html {
  position: relative;
  min-height: 100%;
}
body {
  min-height: 100%;
}
/*INICIO FOOTER*/
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer > .container 
{
    text-align: center;
}

.footer > .container .text-muted {
  margin: 12px 0;
}

@media (min-width: 768px){
    .footer > .container .big
    {
        display:block;
    }
    .footer > .container .small
    {
        display:none;
    }
}
@media (max-width: 767px){
    .footer > .container .big
    {
        display:none;
    }
    .footer > .container .small
    {
        display:block;
    }
}

/*FIN FOOTER*/
/*INICIO FORMULARIO*/
div.pasto
{
    background-image:url("/Imagenes/pasto.png");
    background-repeat:no-repeat;
}

.centrar
{
    text-align:center;
}

div.formulario
{
  border-style  : groove;
  border-radius: 10px;
  padding-top: 40px;
}
.backgroundPasto
{
    background-image: url("../Imagenes/pasto.png");
    background-repeat: round;
}

/*FIN FORMULARIO*/

.jugador
{
    height: 400px;
}

.containerWithHeader
{
    margin-top: 60px;
}

.alert
{
    color: Red;
    font-weight: bold;
}